/*---------------Fonts---------------------*/

@font-face {
  font-family: Quicksand;
  src: url(../fonts/Quicksand-Medium.ttf);
  font-weight: 600;
}

@font-face {
  font-family: Quicksand;
  src: url(../fonts/Quicksand-Light.ttf);
  font-weight: 200;
}

@font-face {
  font-family: Quicksand;
  src: url(../fonts/Quicksand-Regular.ttf);
  font-weight: 400;
}


@font-face {
  font-family: Quicksand;
  src: url(../fonts/Quicksand-Bold.ttf);
  font-weight: 800;
}

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*---------------Basic Rules------------------*/

body,
html {
  width: 100%;
  font-family: 'Quicksand', 'Helvetica', sans-serif;
}

body {
  background: #d8d8d8;

}

header {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  box-sizing: border-box;
  width: 100%;
  background-color: #f0f0f0;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 20;
  font-size: 18px;
}

hr {
  width: 8%;
  margin: 10px auto 25px;
  height: 2px;
  width: 45px;
  background: #ff4646;
  border: none;
  border-top: 1px solid #ff4646;
}

/*---------infobar-------------*/

#infobar {
  box-sizing: border-box;
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 0 10px;
  line-height: 2em;
  background: #1f1f26;
  color: #d8d8d8;
  font-family: 'Quicksand', 'Helvetica', sans-serif;
}

.address,
.tel,
.opening {
  font-size: 12px;
  margin: 3px;
}

.address {
  text-align: left;
}

.opening {
  text-align: center;
}

.tel {
  text-align: right;
}

@media screen and (max-width: 610px) {
  #infobar {
    display: none;
  }
}

/*----------Navigation-----------*/

nav {
  font-size: 1em;
  padding: 0 1.7em;
  margin: 0;
  transition: height 0.5s;
}

nav ul {
  list-style-type: none;
  display: flex;
}

nav li {
  position: relative;
  padding: 30px 0;
  line-height: 2em;
  font-size: 0.9em;
}

.hv:hover a,
nav li.active a {
  color: #ff4646;
  font-weight: 400;
}

nav a {
  padding: 0.55em;
  font-family: 'Quicksand', 'Helvetica', sans-serif;
  font-weight: 400;
  color: #1f1f1f;
  text-transform: uppercase;
  text-decoration: none;
}

nav li:nth-child(n+3) a {
  border-left: 1px solid #d8d8d8;
  ;
}

nav li::after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 4px;
  width: 0;
  background: #ff4646;
  transition: none;
}

.hv:hover::after,
nav li.active::after {
  width: 100%;
  transition: width 500ms ease-out;
}

h1 {
  font-family: 'sansation';
  font-size: 1.8em;
  line-height: 2.84em;
  color: #1f1f26;
  margin: 0 0.95em;
  text-align: center;
}

#h1a {}

#h1b {
  color: #ff4646;
  position: relative;

}

@media screen and (max-width: 960px) {
  header {
    font-size: 16px;
  }

  #nav_sm {
    font-size: 22px;
  }

  h1 {
    font-size: 1.5em;
    line-height: 3.67em;
  }
}

@media screen and (min-width: 855px) {
  #nav_sm {
    display: none;
  }

  #nav_lg {
    display: block;
    margin: 0 auto;
  }
}

@media screen and (max-width: 854px) {
  #nav_sm {
    display: block;
  }

  h1 {
    box-sizing: border-box;
    line-height: 2em;
    width: 100%;
    margin: 0;
  }

  #nav_sm {
    display: inline-block;
    margin: 0 2em;
  }

  #nav_lg {
    display: none;
    margin: 0 auto;
  }

  nav ul {
    justify-content: center;
  }
}

/*-----------------Cover----------------------*/

#header1 {
  width: 100%;
  height: auto;
}


section {
  box-sizing: border-box;
  padding: 30px;
  text-align: center;
}

h2 {
  font-family: 'Open-sans', 'Helvetica', sans-serif;
  text-transform: uppercase;
  line-height: 3em;
  color: #134368;
  font-size: 22px;
  font-weight: 400;
  margin: 0 auto;
}

p {
  font-family: 'Open-sans', 'Helvetica', sans-serif;
  line-height: 1.6em;
}

/*-----------testimonials------------*/

#review {

  background: #fff;
}

/*---------------services--------------------*/

#services {
  box-sizing: border-box;
  margin: 36px 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  box-shadow: 0 7px 24px 0 rgba(110, 123, 157, 0.42);
  background: #fff;
}

#services .heading {
  box-sizing: border-box;
  background: #fff;
  width: 100%;
  padding: 0 30px;
  margin-bottom: 0;
}

h2 {
  padding: 0 30px;
}

#services p {
  font-size: 1.1em;
  padding: 30px;
}

.content {
  display: flex;
  box-sizing: border-box;
  width: 100%;
  max-width: 960px;
  padding: 0 30px;
  margin: 0 auto;
}

.services {
  background: #fff;
  width: 60%;
  margin: 0 auto;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative;
}

.services > li {
  display: block;
  width: 170px;
  margin: 20px 0;
  padding: 10px 0.5em;
  box-sizing: border-box;
  position: relative;
  background: #fff;
}

.fa-plus,
.fa-window-minimize {
  margin-left: 10px;
  color: #ff4646;
}

.icon {
  width: 106px;
  height: 106px;
  margin: 0 auto;
  text-align: center;
  position: relative;
}

.services h4 {
  line-height: 2em;
  position: relative;
}

.services img {
  background: #134368;
  height: auto;
  width: 100px;
  margin: 0 auto;
  border-radius: 50%;
}

.circle::before {
  content: "";
  display: block;
  position: absolute;
  z-index: 10;
  top: 0;
  left: 3px;
  box-sizing: border-box;
  height: 100px;
  width: 100px;
  border: 3px solid #134368;
  border-radius: 50%;
  transition: all 0.2s;
}

#si {
  box-sizing: border-box;
  height: 100%;
  width: 40%;
  top: 0;
}

#si ul {
  box-sizing: border-box;
  height: 100%;
  list-style-type: square;
  background: #fff;
}

#si li {
  list-style-type: square;
  padding: 5px;
  margin: 0;
}

.services li:hover .circle::before,
.services li.open .circle::before {
  transform: scale(1.15, 1.15);
}

/*----------------Offers----------------------*/

#offers {
  width: 100%;
  font-family: 'Quicksand', 'Helvetica', sans-serif;
  font-size: 16px;
}

.offers {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.offers > li {
  width: 20%;
  min-width: 220px;
  max-width: 302px;
  margin: 0.7em;
  background: #fff;
  border-radius: 10px;
  box-shadow: none;
  transition: .3s ease-out all;
}

.offers > li:hover {
  box-shadow: 0 7px 24px 0 rgba(110, 123, 157, 0.42);
}

.offers > li:hover h3 {
  background: #ff4646;
}

h3 {
  border-radius: 12px 12px 0 0;
  background: #134368;
  line-height: 3em;
  color: #fff;
  font-family: 'Quicksand', 'Helvetica', sans-serif;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.1em;
  transition: background 0.3s;
}

.price {
  font-size: 1.2em;
  line-height: 3em;
}

.price::before {
  content: "£";
  vertical-align: baseline;
  font-size: 1em;
}

.book {
  padding: 1em;
  border-radius: 1.5em;
  background: #134368;
  color: #fff;
  text-transform: uppercase;
  border: none;
  transition: background 0.3s;
  font-size: 0.8em;
}

.book:hover {
  background: #ff4646;
}

.offer {
  margin: 1em 1em 2em;
  font-size: 1em;
  list-style-type: none;
  line-height: 2.1em;
  text-align: center;
}


.offers svg {
  color: #134368;
  margin: 0 1em 0 0;
}

@media screen and (max-width: 1200px) {
  #offers {
    font-size: 15px;
  }
}

@media screen and (max-width: 1040px) {
  .offers > li {
    width: 50%;
  }
}

/*------------------------------------------*/

#map {
  width: 100%;
  height: 400px;
  background-color: grey;
}

/*--------------Our Team----------*/

#team {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background: #fff;
  font-size: 15px;
}

.heading {
  width: 100%;
}

.heading h2 {
  display: block;
  font-size: 1.5em;
}

.staff {
  margin: 0 35px;
  padding: 0;
  min-width: 250px;
  width: 25%;
  max-width: 350px;
}

.staff img {
  box-sizing: border-box;
  width: 100%;
  height: auto;
  padding: 1em 0 1.7em;
}

.staff h4 {
  font-size: 1.2em;
  line-height: 1.2em;
  font-weight: 400;
  color: #000;
  text-transform: uppercase;
}

.staff h6 {
  line-height: 1.4em;
  font-size: 1em;
  text-align: center;
  color: #ff4646;
}

/*---------------------------------------------------*/

.plx {
  background-position: center top;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-origin: content-box;
  background-size: 100%;
  margin: 0 auto;
  width: 100%;
  padding: 0;
}

#plx1 {
  background-image: url("../img/header.jpg");
  height: 420px;
}

@media screen and (min-width: 1350px) {
  #plx1 {
    background-size: 100%;
  }
}

@media screen and (min-width: 1130px) and (max-width: 1349px) {
  #plx1 {
    background-size: 130%;
  }
}

@media screen and (min-width: 850px) and (max-width: 1129px) {
  #plx1 {
    background-size: 160%;
  }
}

@media screen and (max-width: 849px) {
  #plx1 {
    background-size: 250%;
  }
}

/*--------Footer----------*/

#contact {
  background: #134368;
  padding: 0;
  color: #fff;
}

footer {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.footer {
  box-sizing: border-box;
  padding: 20px;
}

@media screen and (min-width: 800px) {
  .footer {
    width: 33%;
  }

  h6 {
    text-align: left;
  }

  footer hr {
    margin-left: 0;
  }

  footer p,
  footer pre,
  .social {
    text-align: left;
  }
}

@media screen and (max-width: 799px) {
  .footer {
    width: 400px;
  }

  footer p,
  footer pre,
  .social {
    text-align: center;
  }
}

footer p,
footer pre,
.social {
  text-indent: 0;
  line-height: 1.4em;
}

span.day {
  color: #2ea1db;
  text-transform: uppercase;
}

.social {
  line-height: 2em;
}

.social svg {
  color: #2ea1db;
